In [47]:
import pandas as pd

In [48]:
raw_data = pd.read_csv('data.csv')

In [49]:
data = raw_data.iloc[::-1]

In [50]:
data.pop("Unnamed: 5")
data.pop("Unnamed: 6")
data.pop("Unnamed: 7")
data.pop("Unnamed: 8")
data.pop("Unnamed: 9")
data.pop("Unnamed: 10")
data.pop("Unnamed: 11")

515   NaN
514   NaN
513   NaN
512   NaN
511   NaN
       ..
4     NaN
3     NaN
2     NaN
1     NaN
0     NaN
Name: Unnamed: 11, Length: 516, dtype: float64

In [51]:
data

             Date      Close       Open       High        Low
515  Nov 01, 2019  30,374.10  30,200.05  30,449.45  30,063.10
514  Nov 04, 2019  30,396.05  30,457.95  30,658.00  30,267.00
513  Nov 05, 2019  30,294.15  30,420.05  30,519.90  30,155.10
512  Nov 06, 2019  30,682.60  30,260.30  30,780.00  30,052.00
511  Nov 07, 2019  30,664.35  30,801.00  30,848.95  30,463.00
..            ...        ...        ...        ...        ...
4    Nov 22, 2021  37,182.10  38,199.90  38,214.10  36,680.05
3    Nov 23, 2021  37,284.30  36,921.65  37,474.95  36,682.00
2    Nov 24, 2021  37,465.00  37,401.00  37,895.50  37,239.45
1    Nov 25, 2021  37,364.75  37,324.00  37,538.70  37,115.00
0    Nov 26, 2021  36,157.80  37,055.25  37,093.75  36,025.05

[516 rows x 5 columns]

In [52]:
clean_data = data.reset_index(drop=True)

In [53]:
clean_data

             Date      Close       Open       High        Low
0    Nov 01, 2019  30,374.10  30,200.05  30,449.45  30,063.10
1    Nov 04, 2019  30,396.05  30,457.95  30,658.00  30,267.00
2    Nov 05, 2019  30,294.15  30,420.05  30,519.90  30,155.10
3    Nov 06, 2019  30,682.60  30,260.30  30,780.00  30,052.00
4    Nov 07, 2019  30,664.35  30,801.00  30,848.95  30,463.00
..            ...        ...        ...        ...        ...
511  Nov 22, 2021  37,182.10  38,199.90  38,214.10  36,680.05
512  Nov 23, 2021  37,284.30  36,921.65  37,474.95  36,682.00
513  Nov 24, 2021  37,465.00  37,401.00  37,895.50  37,239.45
514  Nov 25, 2021  37,364.75  37,324.00  37,538.70  37,115.00
515  Nov 26, 2021  36,157.80  37,055.25  37,093.75  36,025.05

[516 rows x 5 columns]

In [54]:
pd.options.mode.chained_assignment = None

In [55]:
data_close = clean_data['Close'].str.replace(',','')

In [56]:
clean_data['SMA'] = data_close.rolling(window =21).mean()

In [57]:
import datetime
clean_data['Day of Week'] = [datetime.datetime.strptime(item, '%b  %d, %Y').strftime("%A") for item in clean_data['Date'] ]

In [58]:
friday_closings = clean_data.loc[clean_data['Day of Week'] == "Friday"] ['Close']
fc = friday_closings.str.replace(',','').astype(float)
fcr = fc.reset_index(drop=True)

In [59]:
monday_openings = clean_data.loc[clean_data['Day of Week'] == "Monday"] ['Open']
mo = monday_openings.str.replace(',','').astype(float)
mor = mo.reset_index(drop=True)

In [60]:
clean_data

,Date,Close,Open,High,Low,SMA,Day of Week
0,"Nov 01, 2019","30,374.10","30,200.05","30,449.45","30,063.10",NaN,Friday
1,"Nov 04, 2019","30,396.05","30,457.95","30,658.00","30,267.00",NaN,Monday
2,"Nov 05, 2019","30,294.15","30,420.05","30,519.90","30,155.10",NaN,Tuesday
3,"Nov 06, 2019","30,682.60","30,260.30","30,780.00","30,052.00",NaN,Wednesday
4,"Nov 07, 2019","30,664.35","30,801.00","30,848.95","30,463.00",NaN,Thursday
...,...,...,...,...,...,...,...
511,"Nov 22, 2021","37,182.10","38,199.90","38,214.10","36,680.05",39462.883333,Monday
512,"Nov 23, 2021","37,284.30","36,921.65","37,474.95","36,682.00",39328.561905,Tuesday
513,"Nov 24, 2021","37,465.00","37,401.00","37,895.50","37,239.45",39188.971429,Wednesday
514,"Nov 25, 2021","37,364.75","37,324.00","37,538.70","37,115.00",39002.916667,Thursday
515,"Nov 26, 2021","36,157.80","37,055.25","37,093.75","36,025.05",38755.171429,Friday

In [61]:
clean_data['Date']

0      Nov 01, 2019
1      Nov 04, 2019
2      Nov 05, 2019
3      Nov 06, 2019
4      Nov 07, 2019
           ...
511    Nov 22, 2021
512    Nov 23, 2021
513    Nov 24, 2021
514    Nov 25, 2021
515    Nov 26, 2021
Name: Date, Length: 516, dtype: object

In [62]:
clean_data

,Date,Close,Open,High,Low,SMA,Day of Week
0,"Nov 01, 2019","30,374.10","30,200.05","30,449.45","30,063.10",NaN,Friday
1,"Nov 04, 2019","30,396.05","30,457.95","30,658.00","30,267.00",NaN,Monday
2,"Nov 05, 2019","30,294.15","30,420.05","30,519.90","30,155.10",NaN,Tuesday
3,"Nov 06, 2019","30,682.60","30,260.30","30,780.00","30,052.00",NaN,Wednesday
4,"Nov 07, 2019","30,664.35","30,801.00","30,848.95","30,463.00",NaN,Thursday
...,...,...,...,...,...,...,...
511,"Nov 22, 2021","37,182.10","38,199.90","38,214.10","36,680.05",39462.883333,Monday
512,"Nov 23, 2021","37,284.30","36,921.65","37,474.95","36,682.00",39328.561905,Tuesday
513,"Nov 24, 2021","37,465.00","37,401.00","37,895.50","37,239.45",39188.971429,Wednesday
514,"Nov 25, 2021","37,364.75","37,324.00","37,538.70","37,115.00",39002.916667,Thursday
515,"Nov 26, 2021","36,157.80","37,055.25","37,093.75","36,025.05",38755.171429,Friday

In [63]:
clean_data['Friday Closing Date'] = clean_data.loc[clean_data['Day of Week'] == "Friday"] ['Date']
clean_data['Friday Closing'] = friday_closings
clean_data['Monday Opening Date'] = clean_data.loc[clean_data['Day of Week'] == "Monday"] ['Date']
clean_data['Monday Opening'] = monday_openings

In [75]:
clean_data["Friday Closing"]

KeyError: 'Friday Closing'

In [64]:
clean_data['Raw Changes'] = fcr.sub(mor)

In [65]:
import numpy
clean_data['Net Changes'] = numpy.NaN

In [66]:
clean_data['Net Changes'][0] = clean_data['Raw Changes'][0]
i =1
for j in range(1, len(clean_data['Close'])):
    clean_data['Net Changes'][i+4] = clean_data['Raw Changes'][j]
    i+=4

In [67]:
clean_data['Net percentage of Changes'] = numpy.NaN

In [68]:
perc_changes = clean_data['Raw Changes']/fcr
clean_data['raw percentage of changes'] = perc_changes*100

In [69]:
clean_data['Net percentage of Changes'][0] = clean_data['raw percentage of changes'][0]
i =1
for j in range(1, len(clean_data['Close'])):
    clean_data['Net percentage of Changes'][i+4] = clean_data['raw percentage of changes'][j]
    i+=4

In [70]:
clean_data.head(21)

,Date,Close,Open,High,Low,SMA,Day of Week,Friday Closing Date,Friday Closing,Monday Opening Date,Monday Opening,Raw Changes,Net Changes,Net percentage of Changes,raw percentage of changes
0,"Nov 01, 2019","30,374.10","30,200.05","30,449.45","30,063.10",NaN,Friday,"Nov 01, 2019","30,374.10",NaN,NaN,-83.85,-83.85,-0.276058,-0.276058
1,"Nov 04, 2019","30,396.05","30,457.95","30,658.00","30,267.00",NaN,Monday,NaN,NaN,"Nov 04, 2019","30,457.95",59.00,NaN,NaN,0.191814
2,"Nov 05, 2019","30,294.15","30,420.05","30,519.90","30,155.10",NaN,Tuesday,NaN,NaN,NaN,NaN,-99.80,NaN,NaN,-0.321394
3,"Nov 06, 2019","30,682.60","30,260.30","30,780.00","30,052.00",NaN,Wednesday,NaN,NaN,NaN,NaN,34.60,NaN,NaN,0.111201
4,"Nov 07, 2019","30,664.35","30,801.00","30,848.95","30,463.00",NaN,Thursday,NaN,NaN,NaN,NaN,-76.10,NaN,NaN,-0.237784
5,"Nov 08, 2019","30,759.00","30,630.00","31,099.00","30,493.55",NaN,Friday,"Nov 08, 2019","30,759.00",NaN,NaN,43.40,59.00,0.191814,0.138136
6,"Nov 11, 2019","31,097.80","30,700.00","31,222.85","30,610.05",NaN,Monday,NaN,NaN,"Nov 11, 2019","30,700.00",-94.95,NaN,NaN,-0.295770
7,"Nov 13, 2019","30,585.60","31,083.95","31,167.25","30,538.80",NaN,Wednesday,NaN,NaN,NaN,NaN,28.45,NaN,NaN,0.087867
8,"Nov 14, 2019","30,770.55","30,580.00","30,830.00","30,361.35",NaN,Thursday,NaN,NaN,NaN,NaN,-27.75,NaN,NaN,-0.085110
9,"Nov 15, 2019","31,052.20","30,902.20","31,185.00","30,859.60",NaN,Friday,"Nov 15, 2019","31,052.20",NaN,NaN,161.20,-99.80,-0.321394,0.501225
10,"Nov 18, 2019","31,017.85","31,152.00","31,182.00","30,900.10",NaN,Monday,NaN,NaN,"Nov 18, 2019","31,152.00",-36.90,NaN,NaN,-0.114872
11,"Nov 19, 2019","31,259.65","31,059.95","31,315.85","30,950.00",NaN,Tuesday,NaN,NaN,NaN,NaN,-273.90,NaN,NaN,-0.863391
12,"Nov 20, 2019","31,321.25","31,350.00","31,434.40","31,184.55",NaN,Wednesday,NaN,NaN,NaN,NaN,280.25,NaN,NaN,0.894500
13,"Nov 21, 2019","31,316.75","31,299.95","31,444.90","31,223.60",NaN,Thursday,NaN,NaN,NaN,NaN,1207.40,34.60,0.111201,3.902732
14,"Nov 22, 2019","31,114.70","31,248.20","31,329.70","31,023.35",NaN,Friday,"Nov 22, 2019","31,114.70",NaN,NaN,25.20,NaN,NaN,0.080665
15,"Nov 25, 2019","31,568.25","31,080.10","31,590.00","31,049.05",NaN,Monday,NaN,NaN,"Nov 25, 2019","31,080.10",7.85,NaN,NaN,0.025403
16,"Nov 26, 2019","31,648.90","31,620.10","31,791.85","31,411.00",NaN,Tuesday,NaN,NaN,NaN,NaN,-1561.10,NaN,NaN,-5.373117
17,"Nov 27, 2019","31,872.35","31,738.60","31,898.00","31,705.00",NaN,Wednesday,NaN,NaN,NaN,NaN,-1572.60,-76.10,-0.237784,-5.660306
18,"Nov 28, 2019","32,122.95","31,874.25","32,143.30","31,874.25",NaN,Thursday,NaN,NaN,NaN,NaN,-2082.20,NaN,NaN,-8.319183
19,"Nov 29, 2019","32,003.85","32,100.50","32,148.00","31,820.00",NaN,Friday,"Nov 29, 2019","32,003.85",NaN,NaN,-4016.95,NaN,NaN,-19.793440
20,"Dec 02, 2019","31,921.35","32,079.95","32,080.00","31,762.30",31135.440476,Monday,NaN,NaN,"Dec 02, 2019","32,079.95",1513.70,NaN,NaN,7.653202

In [71]:
clean_data = clean_data[['Date','Close','Open','High','Low','SMA','Day of Week', 'Net Changes', 'Net percentage of Changes']]

In [72]:
clean_data.to_csv('updated.csv')